%section{id: id, class: 'clearfix'}
  %a{href: show_resources_path(owner: @repo.owner, name: @repo.name, resource: id)}
    %h2= title
  %br
  - resources.each do |r|
    - next if r.title.nil?
    %div.box.resource
      %h3.title
        = link_to(r.title.html_safe, r.url)
        %span.voteContainer
          = link_to_vote(r, :up)
          %span= r.votes_count
          = link_to_vote(r, :down)
        %span
          = link_to_remove_if_power_user(r, @repo)
      %p
        = link_to image_tag(r.thumbnail_url),
          resource_iframe_path(owner: @repo.owner, name: @repo.name, resource: media, id: r.id),
          { 'data-fancybox-type' => 'iframe', class: 'fancybox' } if r.thumbnail_url.present?
        %br
        = truncate(r.description.html_safe, length: 140) if r.description.present?
%hr
