- if @noteworthies.empty?
  %p.notification
    Looks like 
    = link_to "Jimmy", "https://github.com/JimmyHackerNotes"
    is working hard gathering resources, 
    meanwhile you can add your own or 
    = link_to "refresh"
    the page to see the newly added ones.

- if @tweeters.present?
  %section#tweeters.clearfix
    - @tweeters.each do |t|
      = link_to(image_tag(t.thumbnail_url, alt: t.title), t.url)
    %hr

- if @books.present?
  %section#books.clearfix
    - @books.each do |b|
      = link_to(image_tag(b.thumbnail_url, alt: b.title), b.url)
    %hr

%section#note_form.clearfix
  = render 'note_form'
  %hr

= render 'media', resources: @talks, id: 'talks', title: 'Talks', media: 'talks' unless @talks.empty?
= render 'resources', resources: @blogs, id: 'blogs', title: 'Blogs' unless @blogs.empty?
= render 'resources', resources: @subscription_services, id: 'subscription_services', title: 'Subscribe' unless @subscription_services.empty?
= render 'media', resources: @screencasts, id: 'screencasts', title: 'Screencasts', media: 'screencasts' unless @screencasts.empty?
= render 'resources', resources: @tutorials, id: 'tutorials', title: 'Tutorials' unless @tutorials.empty?
= render 'resources', resources: @examples, id: 'examples', title: 'Examples' unless @examples.empty?
= render 'media', resources: @slides, id: 'slides', title: 'Slides', media: 'slides' unless @slides.empty?
= render 'resources', resources: @tips, id: 'tips', title: 'Tips n Tricks' unless @tips.empty?
= render 'resources', resources: @qnas, id: 'qnas', title: 'QnA' unless @qnas.empty?
= render 'resources', resources: @noteworthies, id: 'noteworthies', title: 'Noteworthy' unless @noteworthies.empty?
