- notes = { 'Blog' => 'blogs',
            'Subscribe' => 'subscribe',
            "Tips n Tricks" => 'tips',
            'Slide' => 'slides',
            'FAQ' => 'qnas',
            'Screencast' => 'screencasts',
            'Video' => 'videos',
            'Noteworthy' => 'noteworthies' }

%h2
  Add a hacker note
= form_tag(create_note_path, method: 'post') do
  = url_field_tag 'url', nil, placeholder: 'enter resource url', required: true
  = hidden_field :id, @repo.id
  = select_tag 'resource', options_for_select(notes), class: 'fancySelectBox'
  = submit_tag 'add', class: 'button'
