- unless @tweeters.empty?
  %section#tweeters.clearfix
    - @tweeters.each do |t|
      = link_to(image_tag(t.image), t.url)
    %hr

%section#note_form.clearfix
  = global_validation_message
  = global_success_message
  = render 'note_form'
  %hr

= render 'resources', resources: @blogs, id: 'blogs', title: 'Blogs' unless @blogs.empty?
= render 'resources', resources: @subs_services, id: 'subscribe', title: 'Subscribe' unless @subs_services.empty?

- unless @slides.empty?
  %section#slides.clearfix
    %h2 Slides
    - @slides.each do |s|
      %div.box
        %p
          = link_to(s.title, s.url)
          %br
          = image_tag s.image
          %br
          = s.description
  %hr

= render 'resources', resources: @tips, id: 'tips', title: 'Tips n Tricks' unless @tips.empty?
= render 'resources', resources: @qnas, id: 'qnas', title: 'FAQs' unless @qnas.empty?
= render 'resources', resources: @screencasts, id: 'screencasts', title: 'Screencasts' unless @screencasts.empty?
= render 'resources', resources: @noteworthies, id: 'noteworthies', title: 'Noteworthy' unless @noteworthies.empty?
= render 'resources', resources: @videos, id: 'videos', title: 'Videos' unless @videos.empty?
