- notes = { 'Blog' => 'blogs',
            'Talk' => 'talks',
            'Tutorial' => 'tutorials',
            'Example' => 'examples',
            'Subscribe' => 'subscription_services',
            "Tips n Tricks" => 'tips',
            'Slide' => 'slides',
            'QnA' => 'qnas',
            'Screencast' => 'screencasts',
            'Tweeter' => 'tweeters',
            'Book' => 'books',
            'Noteworthy' => 'noteworthies' }

%h3
  %label{for: 'url'} Add a note
= form_tag(create_note_path, method: 'post') do
  = success_message
  = url_field_tag 'url', @note.try(:url), placeholder: 'Enter Resource URL', required: true
  = hidden_field :id, @repo.id
  = select_tag 'resource', options_for_select(notes), class: 'fancySelectBox hidden'
  = submit_tag 'add', class: 'button'
  = render :partial => 'shared/errors', :locals => {:model => @note} if @note
%div#suggestion
