%section{id: id, class: 'clearfix'}
  %a{href: show_resources_path(owner: @repo.owner, name: @repo.name, resource: id)}
    %h2= title
  - resources.each do |r|
    %p
      = link_to(r.title.html_safe, r.url)
      %span.hidden.voteContainer
        = link_to_vote(r, :up)
        %span= r.votes_count
        = link_to_vote(r, :down)
      %br
      = r.description.html_safe
%hr
