%section{id: id, class: 'clearfix'}
  %a{href: show_resources_path(owner: @repo.owner, name: @repo.name, resource: id)}
    %h2= title
  - resources.each do |r|
    %div.resource
      %h3.title
        = h link_to(r.title, r.url)
        %span.voteContainer.hidden
          = link_to_vote(r, :up)
          %span= r.votes_count
          = link_to_vote(r, :down)
      %p
        = h r.description
%hr
