- titles = [ sidebar(@talks, 'Talks'),
             sidebar(@blogs, 'Blogs', 'active'),
             sidebar(@subscription_services, 'Subscribe', nil, 'subscription_services'),
             sidebar(@screencasts, 'Screencasts'),
             sidebar(@slides, 'Slides'),
             sidebar(@tips, "Tips 'n' Tricks"),
             sidebar(@qnas, 'QnA'),
             sidebar(@noteworthies, 'Noteworthy') ].compact

- title_values = titles.map { |t| t[:anchor].delete('#').titlecase }
- desc = title_values.join(', ').concat(" for #{@repo.name.capitalize}")
= page_description(desc)
= page_title "#{title_values.join(' | ')} for #{@repo.name.capitalize}"
= page_keywords "#{@repo.name}, Development, Learn, Software development, Web development, Programming, Code, #{title_values.join(', ')}"
= tweet "Checkout hacker notes page for ##{@repo.name}"

%aside#sidebar
  %nav
    %span.logo#nav-logo
      %a{href: root_path}
        %span Hacker Notes
      %a{href: '#top'}
        = repo.name
    %ul
      - titles.each do |n|
        %li{class: n[:css_class]}
          = link_to(n[:title], n[:anchor])
    %div.bg_bottom
