- titles = [ sidebar(@blogs, 'Blogs', 'active'),
            sidebar(@subs_services, 'Subscribe', nil, 'subscribe'),
            sidebar(@tips, "Tips 'n' Tricks"),
            sidebar(@noteworthies, 'Noteworthy'),
            sidebar(@screencasts, 'Screencasts'),
            sidebar(@slides, 'Slides'),
            sidebar(@videos, 'Videos'),
            sidebar(@qnas, 'QnA') ].compact

- title_values = titles.map { |t| t[:anchor].delete('#').titlecase }
- desc = title_values.join(', ').concat(" for #{@repo.name.capitalize}")
= page_description(desc)
= page_title "#{title_values.join(' | ')} for #{@repo.name.capitalize}"
= page_keywords "#{@repo.name}, Development, Learn, Software development, Web development, Programming, Code, #{title_values.join(', ')}"
= tweet "Check out hacker notes page for ##{@repo.name}"

%aside#sidebar
  %nav
    %a.logo#nav-logo{href: '#top'}
      %span Hacker Notes
      = repo.name
    %ul
      - titles.each do |n|
        %li{class: n[:css_class]}
          = link_to(n[:title], n[:anchor])
    %div.bg_bottom
