%section{id: id, class: 'clearfix'}
  %a{href: show_resources_path(owner: @repo.owner, name: @repo.name, resource: id)}
    %h2= title
  %br
  - resources.each do |s|
    %div.box.resource
      %h3.title
        = link_to(s.title.html_safe, s.url)
        %span.voteContainer.hidden
          = link_to_vote(s, :up)
          %span= s.votes_count
          = link_to_vote(s, :down)
      %p
        = link_to image_tag(s.thumbnail_url),
          resource_iframe_path(owner: @repo.owner, name: @repo.name, resource: 'slides', id: s.id),
          { 'data-fancybox-type' => 'iframe', class: 'fancybox' }
        %br
        = truncate(s.description.html_safe, length: 140)
%hr
