<% content_for :head do %>
  <%= stylesheet_link_tag "repo/repositories"  %>
<% end %>

<% content_for :sidebar do %>
  <%= render "shared/sidebar", repo: @repo %>
<% end %>

<h2 id="top"><%= @repo.name.capitalize %></h2>
<p><%= @repo.description %></p>
<hr/>
<%= render "shared/notes" %>
