= page_title "#{title(@resources)} for #{@repo.name}"
= page_keywords "#{@repo.name}, Development, Learn, Software development, Web development, Programming, Code, #{title(@resources)}"
= page_description "#{title(@resources)} for #{@repo.name}"
= tweet "Checkout #{title(@resources)} for #{@repo.name.capitalize}"

= paginate @resources

%nav.menu
  = title_link @repo
  - @menu.each do |item|
    = link_to RepositoriesHelper::NOTES.invert[item.to_s],
      "/#{@repo.owner}/#{@repo.name}/#{item.to_s}"
%hr

- if @resources.present?
  = render template(@resources), resources: @resources, media: meta_id(@resources), id: nil, title: nil

= paginate @resources
