= page_title "#{title(@resources)} for #{@repo.name}"
= page_keywords "#{@repo.name}, Development, Learn, Software development, Web development, Programming, Code, #{title(@resources)}"
= page_description "#{title(@resources)} for #{@repo.name}"
= tweet "Checkout #{title(@resources)} for #{@repo.name.capitalize}"

= paginate @resources
- if (paginate @resources).present?
  %hr

%h2= title_link @repo
= render template(@resources), resources: @resources, id: meta_id(@resources), title: title(@resources), media: meta_id(@resources) unless @resources.empty?
= paginate @resources
