<% content_for :head do %>
  <%= stylesheet_link_tag "repo/repositories"  %>
<% end %>

<% content_for :sidebar do %>
  <%= render "shared/sidebar" %>
<% end %>

<h2><%= @repo.name.capitalize %></h2>
<p><%= @repo.description %></p>
<hr/>
<%= render "shared/subs_services", subs_services: @subs_services unless @subs_services.blank? %>
<%= render "shared/blogs", blogs: @blogs unless @blogs.blank? %>
<%= render "shared/tips", tips: @tips unless @tips.blank? %>
<%= render "shared/slides", slides: @slides unless @slides.blank? %>
<%= render "shared/qnas", qnas: @qnas unless @qnas.blank? %>
<%= render "shared/noteworthies", noteworthies: @noteworthies unless @noteworthies.blank? %>
<%= render "shared/screencasts", screencasts: @screencasts unless @screencasts.blank? %>
