= page_title "#{title(@resources)} for #{@repo.name}"

= paginate @resources
- if (paginate @resources).present?
  %hr

%h2= title_link @repo
- template = (meta_id(@resources) == ('slides' || 'videos')) ? 'media' : 'resources'
= render template, resources: @resources, id: meta_id(@resources), title: title(@resources), media: meta_id(@resources) unless @resources.empty?
= paginate @resources
