%div.login
  - if current_user
    Welcome
    = current_user.name
    (
    = link_to current_user.total_karma, user_profile_path(current_user.nickname)
    )
    = link_to "Sign out", signout_path, class: "btn-auth btn-github"
  - else
    = link_to "Sign in with Github", "/auth/github", class: "btn-auth btn-github"

  %br
  %div.tweet
    = yield :tweet
