%div.login
  - if current_user
    Welcome
    = current_user.name
    (
    = current_user.total_karma
    )
    = link_to "Sign out", signout_path, class: "btn-auth btn-github"
  - else
    = link_to "Sign in with <b>Github</b>".html_safe, "/auth/github", class: "btn-auth btn-github"

  %br
  %div.tweet
    = yield :tweet
