%h2
  \== Add a note ==
= form_tag(create_note_path, method: 'post') do
  = url_field_tag 'url', nil, placeholder: 'enter resource url', required: true
  = hidden_field :id, @repo.id
  = select_tag 'resource', "<option value='blogs'>Blogs</option>".html_safe
  = submit_tag 'add', class: 'button'
