%section#tweeters.clearfix
  - @tweeters.each do |t|
    = link_to(image_tag(t.image), t.url)
  %hr

%section#note_form.clearfix
  = global_validation_message
  = global_success_message
  = render 'shared/note_form'
  %hr

= render 'shared/resources', resources: @blogs, id: 'blogs', title: 'Blogs'
= render 'shared/resources', resources: @subs_services, id: 'subscribe', title: 'Subscribe'

-# <section id="slides" class="clearfix">
-# <h2>Slides</h2>
-# <% @slides.each do |s| %>
-#   <div class="box">
-#     <p><%= link_to s.title, s.url %><br/>
-#     <%= image_tag s.image %><br/>
-#     <%= s.description %></p>
-#   </div>
-# <% end %>
-# <hr/>
-# </section>

= render 'shared/resources', resources: @tips, id: 'tips', title: 'Tips n Tricks'
= render 'shared/resources', resources: @qnas, id: 'qnas', title: 'FAQs'
= render 'shared/resources', resources: @screencasts, id: 'screencasts', title: 'Screencasts'
= render 'shared/resources', resources: @noteworthies, id: 'noteworthies', title: 'Noteworthy'

-# <section id="videos" class="clearfix">
-# <h2>Videos</h2>
-# <% @videos.each do |v| %>
-#   <p><%= link_to v.title, v.url %><br/><%= v.description %></p>
-# <% end %>
-# <hr/>
-# </section>
