%div.repo_logos
  %h2 Hacker - Notes - Stars
  = link_to image_tag("logos/git-logo.png"), "http://www.thehackernotes.com/ruby/ruby"
  = link_to image_tag("logos/node-logo.png"), "http://www.thehackernotes.com/ruby/ruby"
  = link_to image_tag("logos/python-logo.png"), "http://www.thehackernotes.com/ruby/ruby"
  = link_to image_tag("logos/mongodb-logo.png"), "http://www.thehackernotes.com/ruby/ruby"
  = link_to image_tag("logos/rails-logo.png"), "http://www.thehackernotes.com/ruby/ruby"
  = link_to image_tag("logos/backbone-logo.png"), "http://www.thehackernotes.com/ruby/ruby"
  = link_to image_tag("logos/cucumber-logo.png"), "http://www.thehackernotes.com/ruby/ruby"
  = link_to image_tag("logos/emberjs-logo.png"), "http://www.thehackernotes.com/ruby/ruby"
  = link_to image_tag("logos/jasmine-logo.png"), "http://www.thehackernotes.com/ruby/ruby"
