%div.repo_logos
  %h2 Hacker - Notes - Stars
  = link_to image_tag("logos/git-logo.png"), show_repo_path(owner: 'git', name: 'git')
  = link_to image_tag("logos/node-logo.png"), show_repo_path(owner: 'joyent', name: 'node')
  = link_to image_tag("logos/python-logo.png"), show_repo_path(owner: 'python-git', name: 'python')
  = link_to image_tag("logos/mongodb-logo.png"), show_repo_path(owner: 'mongodb', name: 'mongo')
  = link_to image_tag("logos/rails-logo.png"), show_repo_path(owner: 'rails', name: 'rails')
  = link_to image_tag("logos/backbone-logo.png"), show_repo_path(owner: 'documentcloud', name: 'backbone')
  = link_to image_tag("logos/cucumber-logo.png"), show_repo_path(owner: 'cucumber', name: 'cucumber')
  = link_to image_tag("logos/emberjs-logo.png"), show_repo_path(owner: 'emberjs', name: 'ember.js')
  = link_to image_tag("logos/jasmine-logo.png"), show_repo_path(owner: 'pivotal', name: 'jasmine')
