= page_keywords "hacker notes, software development, web development, github, open source"
= page_description "Hacker Notes provides resources around Open Source softwares to learn curated by Github users"
= tweet "Check out Hacker Notes"

= render "shared/fork", name: 'HackerNotes', owner: 'abhishek77in'

= render "news"
= render "leader_board"

%div.home

  %div{style: 'float: left; width: 33%'}
    <script src="https://gist.github.com/abhishek77in/5890917.js"></script>
  %div{style: 'float: left; width: 33%; margin-left: 8px;'}
    <script src="https://gist.github.com/abhishek77in/5903863.js"></script>
  %div{style: 'float: left; padding-left: 20px;'}
    %h4.title Popular repositories
    %ul.repo-list
      - @popular_repos.each do |r|
        %li= link_to r.name, show_repo_path(owner: r.owner, name: r.name)
    %h4.title Recently visited repositories
    %ul.repo-list
      - @repos.each do |r|
        %li= link_to r.name, show_repo_path(owner: r.owner, name: r.name)

  %div.search_form{style: 'clear: left; text-align: center'}= render "shared/search_form"

  %div{style: 'text-align: center'}
    %h4.title Supported by
    = link_to image_tag("mavenhive-logo.gif", width: "100", alt: "mavenhive logo"), "http://mavenhive.in"

  %div.copyright
    %a.twitter-follow-button{href: "https://twitter.com/HackerNotes", 'data-show-count' => "false"} Follow @HackerNotes
    %div.small
      © 
      = link_to 'thehackernotes.com', root_url
      , 2013 /
      Built by:
      = link_to '@abhishek77in', 'https://twitter.com/abhishek77in'
