= page_title "An active README for Open Source projects"
= page_keywords "hackernotes, software development, web development, github, open source"
= page_description "HackerNotes provides resources around Open Source softwares to learn curated by Githubbers"
= tweet "Check out HackerNotes - An active README for Open Source projects on Github"

%h4.news
  %span
    News -
  = link_to "HackerNotes Chrome Plugin", "https://chrome.google.com/webstore/detail/hackernotes-plugin/acphikopigkpfbkonnacihkhcefdeagg"
  is out.
  It makes coming from Github to HackerNotes super easy.
  %br
  In a hacking mood ? Fork it
  = link_to "here", "https://github.com/abhishek77in/HackerNotesChromePlugin"

%div= render "shared/search_form"

%div.home

  %h4.title Popular open source repositories
  %ul.repo-list
    - @popular_repos.each do |r|
      %li= link_to r.name, show_repo_path(owner: r.owner, name: r.name)
  <script src="https://gist.github.com/abhishek77in/5516844.js"></script>

  %h4.title Recently visited open source repositories
  %ul.repo-list
    - @repos.each do |r|
      %li= link_to r.name, show_repo_path(owner: r.owner, name: r.name)

  %p.copyright
    %a.twitter-follow-button{href: "https://twitter.com/HackerNotes", 'data-show-count' => "false"} Follow @HackerNotes
    %span
      © 2013
      = link_to 'thehackernotes.com', root_url
      , All rights reserved.
    %hr
    Created by:
    = link_to '@abhishek77in', 'https://twitter.com/abhishek77in'
    \- Feel free to tweet any kind of feedback / ideas directly or even to say Hi
