= page_title "An active README for Open Source projects"
= page_keywords "hackernotes, software development, web development, github, open source"
= page_description "HackerNotes provides resources around Open Source softwares to learn curated by Githubbers"
= tweet "Find, Share and Learn interesting stuff."

%div= render "shared/search_form"

%div.home

  %h4.title Popular open source repositories
  %ul.repo-list
    - @popular_repos.each do |r|
      %li= link_to r.name, show_repo_path(owner: r.owner, name: r.name)
  <script src="https://gist.github.com/abhishek77in/5516844.js"></script>

  %h4.title Recently visited open source repositories
  %ul.repo-list
    - @repos.each do |r|
      %li= link_to r.name, show_repo_path(owner: r.owner, name: r.name)

  %p.copyright
    %a.twitter-follow-button{href: "https://twitter.com/HackerNotes", 'data-show-count' => "false"} Follow @HackerNotes
    %span © 2013 thehackernotes.com, All rights reserved.
