= page_title "Collection of awesome developer notes"
= page_keywords "hackernotes, software development, web development, github, open source"
= page_description "HackerNotes provides resources around Open Source softwares to learn curated by Githubbers"
= tweet "Find, Share and Learn interesting stuff."

%div= render "shared/search_form"

%div.home
  %h4.title Popular repositories
  %ul.repo-list
    - @popular_repos.each do |r|
      %li= link_to r.name, show_repo_path(owner: r.owner, name: r.name)
  <script src="https://gist.github.com/abhishek77in/5516844.js"></script>
  %h4.title Recently visited repositories
  %ul.repo-list
    - @repos.each do |r|
      %li= link_to r.name, show_repo_path(owner: r.owner, name: r.name)

  %p.right.copyright
    © 2013 thehackernotes.com, Inc. All rights reserved.
