<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="Description" content="<%= yield(:page_description) %>">
  <meta name="Keyword" content="<%= yield(:page_keywords) %>">
  <meta name="twitter:widgets:csp" content="on">
  <%= favicon_link_tag "favicon.ico" %>

  <title><%= [yield(:page_title), "Hacker Notes"].reject(&:blank?).join(' - ') %></title>
  <%= render "shared/analytics" unless Rails.env.development? %>
  <%= render "shared/twitter" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <%= yield :head %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div id="page">
  <%= yield :sidebar %>
  <div id="main-content">
  <section id="top"></section>
  <header>
  <h1><%= link_to "Hacker Notes", root_path, class: 'heading' %><span class="superscript">βeta</span></h1>
    <%= render "shared/login" %><hr/>
  </header>
  
  <%= yield %>

  </div>
</div>
<%= hidden_field :loginStatus, current_user.present?, id: 'status', value: current_user.present? %>
<%= render "shared/uservoice" %>
</body>
</html>
