<!DOCTYPE html>
<html>
<head>
  <title>Hackernotes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>HACKERNOTES</h1>
    <h2>{{ Hack to Create }}</h2>
    <div class="login">
      <% if current_user %>
        Signed in as <%= current_user.name %>!
        <%= link_to "Sign out", signout_path %>
      <% else %>
        <%= link_to "Sign in with Github", "/auth/github" %>
      <% end %>
    </div>
    <hr/>
  </header>
  
  <%= yield %>

</body>
</html>
